@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #111;
    color: #fff;
}

.header a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.hero {
    position: relative;
}

.hero {
   height: 100vh;
   background-image: url("https://imagens.unsplash.com/photo-1518770660439-4636190af475") ;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;

   
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(135deg, #667eea, #b491d6);
   color: white;
   text-align: center;
}

.hero-content {
    position: relative;
    z-index: 1;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: #ddd;
    transform: scale(1.05);
}

.projects {
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax (200px, 1 gap 20px));
}

.card {
    background: #b491d6;
    padding: 40px;
    margin: 10px;
}

.contact {
    padding: 40px;
    background: rgba(0,0,0,0.15);
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgb(0,0,0,0.15);
}

.contact form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

